<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chaos Collab</title>


    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js" charset="UTF-8"></script><script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.9.0/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">





</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- title -->
            <div class="half inline top">
                <a href="/"><h1 class="left">Chaos Collab</h1></a>
            </div>
            <!-- user box -->
            <div class="half inline top">
                <!-- avatar -->
                <div class="inline top">
                    <div class="avatar" style="background-image: url({% static 'main_app/images/' %}{{ user.avatar }}.png);"></div>
                </div>
                <!-- username -->
                <div class="inline top right">
                        <h4 class="right bottom gold"><a href="/user/{{ user.id }}">{{ user.alias }}</a></h4><a href="/logout">Logout</a>
                </div>
            </div>
            <div class="main_draw center">

                <!-- start left side bar -->
                <div class="sidebar inline">
                    <!-- start color picker -->
                    <div id="current_color">
                        <h3 class="block cctext">{{ collab.title }}</h3>
                        <div id="controllers center">
                                <button class="controller" id="undo">◄</button>
                                <button class="controller" id="redo">►</button>
                                <button class="controller" id="shrink">-</button>
                                <button class="controller" id="grow">+</button>
                                <span class="controller" id="brush_size">1</span>
                            </div>
                    </div>

                    <div class="parentbox">
                        <img src="{% static 'main_app/images/' %}{{ collab.decoded_img }}" height=120px width=200px>
                    </div>
                    
                    <div id="color_listener">
                        {% for i in colors %}<button style="background-color:{{ i }}" class="color_picker top"
                            id="{{ i }}"></button>{% endfor %}
                    </div>
                    <!-- end color picker -->
                </div>
                <!-- end left sidebar -->

                <!-- canvas -->
                <div class="top inline canvasbox">
                    <div>
   
                        <canvas width="1200" height="720" id="paint"></canvas>
                    </div>
                    <button id="publish">Publish</button>
                </div>
                <!-- end canvas -->

            </div>
        </div>
        <!-- <script src="{% static 'main_app/js/canvas2.js' %}" type="text/javascript"></script> -->
        <script>
        (function (fn) {
  var tool;
  var canvas = fn('paint');
  var ctx = canvas.getContext('2d');

  var history = {
    redo_list: [],
    undo_list: [],
    saveState: function (canvas, list, keep_redo) {
      keep_redo = keep_redo || false;
      if (!keep_redo) {
        this.redo_list = [];
      }

      (list || this.undo_list).push(canvas.toDataURL());
    },
    undo: function (canvas, ctx) {
      this.restoreState(canvas, ctx, this.undo_list, this.redo_list);
    },
    redo: function (canvas, ctx) {
      this.restoreState(canvas, ctx, this.redo_list, this.undo_list);
    },
    restoreState: function (canvas, ctx, pop, push) {
      if (pop.length) {
        this.saveState(canvas, push, true);
        var restore_state = pop.pop();
        var img = new Element('img', { 'src': restore_state });
        img.onload = function () {
          ctx.clearRect(0, 0, 1200, 720);
          ctx.drawImage(img, 0, 0, 1200, 720, 0, 0, 1200, 720);
        }
      }
    }
  }

  var pencil = {
    options: {
      stroke_color: 'rgb(0,0,0,)',
      line_width: 1,
      dim: 200,
    },



    init: function (canvas, ctx) {
      this.canvas = canvas;
      this.canvas_coords = this.canvas.getCoordinates();
      this.ctx = ctx;
      this.ctx.strokeColor = this.options.stroke_color;
      this.drawing = false;
      this.addCanvasEvents();
    },
    addCanvasEvents: function () {
      this.canvas.addEvent('mousedown', this.start.bind(this));
      this.canvas.addEvent('mousemove', this.stroke.bind(this));
      this.canvas.addEvent('mouseup', this.stop.bind(this));
      this.canvas.addEvent('mouseout', this.stop.bind(this));
    },
    start: function (evt) {
      var x = evt.page.x - this.canvas_coords.left;
      var y = evt.page.y - this.canvas_coords.top;
      this.ctx.beginPath();
      this.ctx.moveTo(x, y);
      history.saveState(this.canvas);
      this.drawing = true;
      this.ctx.lineWidth = this.options.line_width;
    },
    stroke: function (evt) {
      if (this.drawing) {
        var x = evt.page.x - this.canvas_coords.left;
        var y = evt.page.y - this.canvas_coords.top;
        this.ctx.lineTo(x, y);
        this.ctx.stroke();
        this.ctx.strokeStyle = this.options.stroke_color;
        this.ctx.lineWidth = this.options.line_width;
      }
    },
    stop: function (evt) {
      if (this.drawing) this.drawing = false;
    }
  };

  // Initializes pencil on page load
  pencil.init(canvas, ctx);

  fn('shrink').addEvent('click', function () {
    if (pencil.options.line_width > 1) {
        pencil.options.line_width -= 1;
    }
    $("#brush_size").html(pencil.options.line_width.toString())
  });

  fn('grow').addEvent('click', function () {
    if (pencil.options.line_width < 200) {
        pencil.options.line_width += 1;
    }
    $("#brush_size").html(pencil.options.line_width.toString())
  });

  fn('undo').addEvent('click', function () {
    history.undo(canvas, ctx);
  });

  fn('redo').addEvent('click', function () {
    history.redo(canvas, ctx);
  });



  fn('color_listener').addEvent('click', function (e) {
    pencil.options.stroke_color = e.target.id;
    pencil.init(canvas, ctx); // DEFAULT TOOL SET TO PENCIL WHEN SELECTING COLOR
    console.log('clicked')
    console.log(e)
    $('#current_color').css('background-color', e.target.id)
  });

  $.ajaxSetup({
    beforeSend: function (xhr, settings) {
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      if (!(/^http:./.test(settings.url) || /^https:./.test(settings.url))) {
        // Only send the token to relative URLs i.e. locally.
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
      }
    }
  });

  $('#publish').on('click', function () {
    history.undo(canvas, ctx)
    console.log("FULL REDO LIST")
    console.log(history.redo_list)
    console.log("REDO LIST SINGLE ELEMENT")
    console.log(history.redo_list[0])
    $.ajax({
      type: "POST",
      url: "/create_collab",
      data: {
        "encoded_img": history.redo_list[0],
        "parent_id": {{ collab.id }}
      },
      success: window.location.href = "/landing"
    })
    history.redo(canvas, ctx)
  })

  // fn($(document).ready(function(){
  //   console.log("inside ajax call")
  //   $.ajax({
  //     url: "/populate_collab",
  //     success: function(data) {
  //       console.log("success")
  //       console.log(data)
  //       history.redo_list.push(data)
  //       history.redo()
  //     }
    
  // })
  history.redo_list.push('{{ image_state }}')
  history.redo(canvas, ctx)

})(document.id)



  // original code written by https://codepen.io/abidibo/
        </script>

</body>

</html>