<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chaos Collab</title>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/d3js/5.9.0/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">





</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- title -->
            <div class="half inline top">
                <h1 class="left">Collaboration Name Goes Here</h1>
            </div>
            <!-- user box -->
            <div class="half inline top">
                <!-- avatar -->
                <div class="inline top">
                    <div class="avatar"></div>
                </div>
                <!-- username -->
                <div class="inline top right">
                    <h4 class="right bottom gold">Username goes here</h4>
                </div>
            </div>
        </div> <!-- end header-->
        <div class="main">
            <!-- MAIN CONTENT-->
            <div class='wrapper'>
                <div class=" top inline">
                    <div>
                        <h3 class="left indent30 push_top">Parent Collab</h3>
                        <div class="parentbox indent30">
                            <h3 class="gold left indent">username</h3>
                        </div>

                    </div>
                    <div>

                    </div>
                    <!-- start color picker --><div id="color_listener">{% for i in colors %}<!--
                --><div style="background-color:{{ i }}" class="color_picker top" id="{{ i }}"></div><!--              
                -->{% endfor %}</div>
<!-- end color picker -->
                <!-- canvas -->
                </div>




                <div class="top inline">
                <h1>Canvas pencil, undo, redo</h1>
                <p>Click the pencil button and draw over the canvas. Use undo and redo buttons to navigate through
                    states.</p>

                <div class="half top inline">
                    <div id="controllers center">
                        <button class="controller" id="undo">undo</button>
                        <button class="controller" id="redo">redo</button>
                        <button class="controller" id="pencil">pencil</button>
                        <button class="controller" id="color_red">RED</button>
                        <button class="controller" id="color_black">BLACK</button>
                        <div id="current_color"></div>
                    </div>
                    <canvas width="1200" height="720" id="paint"></canvas>
                </div>
                <!-- end canvas -->
</div>
            </div>
        </div>

    </div><!-- END MAIN CONTENT-->

    </div>
    <script src="{% static 'main_app/js/canvas2.js' %}" type="text/javascript"></script>

</body>

</html>