<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chaos Collab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">

</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- title -->
            <div class="half inline top">
                <h1 class="left"><a href="/">Chaos Collab</a></h1>
            </div>
            <!-- user box -->
            <div class="half inline top">
                <!-- avatar -->
                <div class="inline top">
                    <div class="avatar" style="background-image: url({% static 'main_app/images/' %}{{ user.avatar }}.png);"></div>
                </div>
                <!-- username -->
                <div class="inline top right">
                    <h4 class="right bottom gold"><a href="/user/{{ user.id }}">{{ user.alias }}</a></h4><a href="/logout">Logout</a>
                </div>
            </div>
        </div> <!-- end header-->

        <div class="main">
            <!-- MAIN CONTENT-->
            <div class='wrapper'>


            </div>
            <div class="wrapper indent30 left">
                <div class="half inline top">
                    <div class='avatar push_top inline indent top'></div>
                </div>
                <div class="half inline push_top top">
                    <!-- <h4 class="center">User Info | Edit | Follow | Friend | Message</h4> -->

                </div>

            </div>
            <div>
                <h3 class="left indent30 push_top">{{ user_id.alias }}'s Collabs</h3>
                {% for collab in user_id.collabs.all reversed %}
                <a href="/collab/{{ collab.id }}"> <img src="{% static 'main_app/images/' %}{{ collab.decoded_img }}" class="imagebox"></a>
                {% endfor %}
            </div>
        </div><!-- END MAIN CONTENT-->
    </div>
</body>

</html>