<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chaos Collab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">

</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- title -->
            <div class="half inline top">
                <h1 class="left">Chaos Collab</h1>
            </div>
            <!-- user box -->
            <div class="half inline top">
                <!-- avatar -->
                <div class="inline top">
                    <div class="avatar"></div>
                </div>
                <!-- username -->
                <div class="inline top right">
                    <h4 class="right bottom gold">Username</h4>
                </div>
            </div>

        </div> <!-- end header-->
        <div class="main"> <!-- MAIN CONTENT-->
            
            <div wrapper>
                    <h3 class="left indent30 push_top">Top Collabs</h3>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
            </div>
            <div wrapper>
                    <h3 class="left indent30 push_top">Newest Collabs</h3>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
            </div>
            <div wrapper>
                    <h3 class="left indent30 push_top">My Collabs</h3>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
                <div class="imagebox"></div>
            </div>
        </div><!-- END MAIN CONTENT-->
    </div>
</body>

</html>