<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chaos Collab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">

</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- title -->
            <div class="inline half top logo">
                <a href="/"><h1 class="left">Chaos Collab</h1></a>
            </div>
            <!-- user box -->
            <div class="inline half top right">
                <!-- avatar -->
               
                    <div class="avatar" style="background-image: url({% static 'main_app/images/' %}{{ user.avatar }}.png);"></div>
                <!-- username -->
                    <div class="user">
                    <h4><a href="/user/{{ user.id }}">{{ user.alias }}</a></h4><a href="/logout">Logout</a>
                </div>
            </div>

        </div> <!-- end header-->

        
        <div class="main"> <!-- MAIN CONTENT-->
            <div wrapper>
                    <h3 class="left indent30 push_top">My Collabs</h3>
                    {% for collab in user.collabs.all reversed %}
                    {% if forloop.counter < 5 %}
                    <div class="imageboxwrap">
                            <p>{% for letter in collab.title %}{% if forloop.counter < 20 %}{{ letter }}{% endif %}{% endfor %}</p>
                    <a href="/collab/{{ collab.id }}"> <img src="{% static 'main_app/images/' %}{{ collab.decoded_img }}" class="imagebox"></a>
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>
            <div wrapper>
                    <h3 class="left indent30 push_top">Newest Collabs</h3>
                {% for collab in collabs reversed %}
                {% if forloop.counter < 40 %}
                <div class="imageboxwrap">
                    <p>{% for letter in collab.title %}{% if forloop.counter < 20 %}{{ letter }}{% endif %}{% endfor %}</p>
                    <p>by <a href="/user/{{ collab.uploaded_by.id }}">{% for letter in collab.uploaded_by.alias %}{% if forloop.counter < 15 %}{{ letter }}{% endif %}{% endfor %}</a></p>
               <a href="/collab/{{ collab.id }}"> <img src="{% static 'main_app/images/' %}{{ collab.decoded_img }}" class="imagebox"></a>
                </div>
               {% endif %}
                {% endfor %}
            </div>
            
        </div><!-- END MAIN CONTENT-->
    </div>
</body>

</html>