<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chaos Collab</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main_app/css/style.css' %}">

</head>

<body>
    <div class="container">
        <!-- header -->
        <div class="header">
            <!-- title -->
            <div class="half inline top">
               <a href="/"><h1 class="left">Chaos Collab</h1></a>
            </div>
            <!-- user box -->
            <div class="half inline top">
                <!-- avatar -->
                <div class="inline top">
                    <div class="avatar"></div>
                </div>
                <!-- username -->
                <div class="inline top right">
                    <h4 class="right bottom gold">{{ user.alias }}</h4><a href="/logout">Logout</a>
                </div>
            </div>

        </div> <!-- end header-->
        <div class="main"> <!-- MAIN CONTENT-->
            <div class='wrapper'>
                <div class="half top inline">
            <div>

                
            </div>
            <div>
                
                    <h2 class='left indent'>{{ collab.title }}</h2>
                   <a href="/canvas/{{ collab.id }}"><h4 class='left gold indent'>Collaborate</h2></a>
                        <img class="maincollab" src="{% static 'main_app/images/' %}{{ collab.decoded_img }}">
            </div>
        </div>
        <div class="half top inline">
            
        </div>

        </div>
            <div>
              
            </div>
        </div><!-- END MAIN CONTENT-->
    </div>
</body>

</html>