*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    
}

/* content box types */

body{
    background-color: #091833;
    color: #0ABDC6;
}
.container{
    width: 100%;
    display: block;
    background-color: #091833;
    color: #0ABDC6;
}

.userbox{
    position: absolute;
    right: 30px;
    top: 20px;
    width: 150px;
    height: 150px;
}

.header{
    background-color: #0ABDC6;
    color: #091833;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: center;
    height: 50px;

}

.avatar{
    height: 30px;
    width: 50px;
    background-color: white;
    border-radius: 5px;
    background-size: 30px 50px;
    background-position: center;
    background-repeat: no-repeat;
    text-shadow:
    -1px -1px 0 #711C91,
    1px -1px 0 #711C91,
    -1px 1px 0 #711C91,
    1px 1px 0 #711C91;
}

.main{
    display: block;
    width: 100%;
    text-align: center;
    color: #0ABDC6;
    background-color: #091833;
}

.main_draw{
    display: block;
    width: 1450px;
    text-align: center;
    color: grey;
    margin: 0px auto;
}

.info{
    display: inline-block;
    background: #0ABDC6;
    color: black;
    border-radius: 20px;
    box-shadow: 5px 5px grey;
    padding: 20px;
    vertical-align: top;
    margin: 20px auto;
    color: grey;
}

.wrapper{
    text-align: center;
    margin: 0px auto;
}

.wrapper_left{
    text-align: left;
    width: 100%;
    display: block;
}


.imagebox{
    width: 200px;
    height: 120px;
    background-color: white;
    background-size: 200px 120px;
    background-repeat: no-repeat;
    margin: 0px auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    box-shadow: 0 0 0 2px #0ABDC6;
    border-radius: 5px;


}
.maincollab{
    width: 80%;
    min-width: 300px;
    height: auto;
    background-color: white;
    margin-top: 30px;
    color: #0ABDC6;
    box-shadow: 0 0 0 2px #0ABDC6;
    border-radius: 15px;
}
.parentbox{
    width: 200px;
    height: 120px;
    background-color: white;

}

.push_top{
    margin-top: 50px;
}

.indent30{
    margin-left: 10%;
}
/* div and other box widths */

.quarter{
    width: 24.9%;
}
.half{
    width: 49.6%;
}

.full{
    width: 99.2%;
}

.wide{
    width: 74.7%;
}

.auto{
    margin: 0px auto;
}

.comment_box{
    border-radius: 10px;
    padding: 10px;
}

/* text orientations */

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.inline{
    display: inline-block;
}

.top{
    vertical-align: top;
}

.bottom{
    vertical-align: text-bottom;
}

/* extra styling */

a{
    color: white;
}

.indent{
    margin-left: 20px;
}

.outline{
    outline-style: solid;
    outline-color: lightgrey;
    outline-width: 1px;
}

/* colors */

.gold{
    color: #EA00D9;
}

.scroll{
    overflow-y: scroll;
}

.italic{
    font-style: italic;
}

.small{
    font-size: 10px;
}

.faded{
    color: lightgrey;
}

/* controller for canvas */


#controllers {
    width: 600px;
    font-size: 0.8em;
    color: #091833;
  }
  #paint {
    border: 1px solid #000;
    background: #fff;
  }
  .controller {
    display: inline-block;
    background: #EA00D9;
    color: #0ABDC6;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    padding: 5px;
  }

  .color_picker{
      height: 19px;
      width: 25px;
      display: block;
      margin: 0px;
      padding: 0px;
      float: left;
  }

  .colorbar{
      width: 200px;
  }

  #color_listener{
      margin: 0px auto;
  }

  .cl_row{
      display: block;
  }

#current_color{
      width: 200px;
      height: 50px;
      background-color: black;
  }

.sidebar{
    max-width: 200px;
}

.cctext{
    color: #0ABDC6;
    text-shadow: 2px 2px black;
}

